**LISTAS**

***1.*** **Duplicar elementos de una lista**

In [2]:
lista = [2, 4, 6, 8]
print(lista)

[2, 4, 6, 8]

In [3]:
lista2 = lista + lista
print(lista2)

[2, 4, 6, 8, 2, 4, 6, 8]

***2.*** **Combinar dos listas**

In [5]:
Lista1=[10, 11, 12, 13]

In [6]:
lista.extend(Lista1)

print(lista)

[2, 4, 6, 8, 10, 11, 12, 13]

***3.*** **Calcular la suma de una lista de números**

In [8]:
print(lista)
sum(lista)

[2, 4, 6, 8, 10, 11, 12, 13]

66

***4.*** **Encontrar el valor máximo en una lista**

In [10]:
max(lista)

13

***5.*** **Calcular la longitud de una lista**

In [16]:
len(lista)

8

***6.*** **Encontrar el índice de un elemento en una lista (objetivo 10)**

In [19]:
lista.index(10)

4

***7.*** **Contar ocurrencias de un elemento en una lista (objetivo 1)**

In [10]:
lista3=[1,2,3,4,1,9,8,7,1,4,8]

lista3.count(1)

3

***8.*** **Obtener una sublista de una lista**

In [23]:
lista4 = lista3[2:5]

In [24]:
lista4

[3, 4, 1]

***9.*** **Obtener el último elemento de una lista**

In [14]:
print(lista3)
print( "el último elemento de la lista es:",lista3[-1])

[1, 2, 3, 4, 1, 9, 8, 7, 1, 4, 8]
el último elemento de la lista es: 8

 ***10.*** **Obtener el primer elemento de una lista**

In [15]:
print(lista3)
print( "el primer elemento de la lista es:",lista3[0])

[1, 2, 3, 4, 1, 9, 8, 7, 1, 4, 8]
el primer elemento de la lista es: 1

***11.*** **Obtener una sublista de una lista**

In [35]:
lista2[1:3]

[4, 6]

***12.*** **Reemplazar un elemento en una lista**

In [17]:
print(lista)
print("el elemento de la lista a reemplazar es ",lista[1])

[2, 4, 6, 8, 10, 11, 12, 13]
el elemento de la lista a reemplazar es  4

In [18]:
lista[1]=27
print('la nueva lista es:', lista)

la nueva lista es: [2, 27, 6, 8, 10, 11, 12, 13]

***13.*** **Obtener una lista inversa**

In [20]:
print("la lista es:",lista3)
lista3.reverse()
print("la lista inversa es:", lista3)

la lista es: [1, 2, 3, 4, 1, 9, 8, 7, 1, 4, 8]
la lista inversa es: [8, 4, 1, 7, 8, 9, 1, 4, 3, 2, 1]

***14.*** **Ordenar una lista en orden ascendente**

In [33]:
lista3.sort()

print("la lista ordenada en ascendente", lista3)

la lista ordenada en ascendente [1, 1, 1, 2, 3, 4, 4, 7, 8, 8, 9]

**TUPLAS**


***1.*** **Acceder al primer elemento de una tupla**

In [35]:
tupla1 = (2,4,6,8)

print(tupla1)

(2, 4, 6, 8)

In [36]:
print("el primer elemento de la tupla es",tupla1[0])

el primer elemento de la tupla es 2

***2.*** **Acceder al último elemento de una tupla**

In [37]:
print( "el último elemento de la tupla es",tupla1[-1])

el último elemento de la tupla es 8

***3.*** **Obtener la longitud de una tupla**

In [38]:
print("la longitud de la tupla es",len(tupla1))

la longitud de la tupla es 4

***4.*** **Concatenar dos tuplas**

In [44]:
tupla2=(9,8,7,6)

tupla_concat= tupla1+tupla2

In [45]:
print("la tupla concatenada es ",tupla_concat)

la tupla concatenada es  (2, 4, 6, 8, 9, 8, 7, 6)

***5.*** **Encontrar el índice de un elemento en una tupla (objetivo 6)**

In [48]:
print("el indice de la tupla para el valor objetivo de 6 es",tupla_concat.index(6))

el indice de la tupla para el valor objetivo de 6 es 2

***6.*** **Contar ocurrencias de un elemento en una tupla**

In [52]:
print('el valor objetivo 6 aparece', tupla_concat.count(6),"veces")

el valor objetivo 6 aparece 2 veces

***7.*** **Obtener una subtuple de una tupla**

In [57]:
print(tupla_concat)
print('el valor de la subtuple desde el indice 1 hasta el 3 sin incluirlo',tupla_concat[1:3])

(2, 4, 6, 8, 9, 8, 7, 6)
el valor de la subtuple desde el indice 1 hasta el 3 sin incluirlo (4, 6)

***8.*** **Invertir una tupla**

In [61]:
tupla_reverse= list(tupla_concat)
print(tupla_reverse)

tupla_reverse.reverse()

print(tupla_reverse)

tuple(tupla_reverse)

type(tupla_reverse)

[2, 4, 6, 8, 9, 8, 7, 6]
[6, 7, 8, 9, 8, 6, 4, 2]

list